fastapi
uvicorn

passlib[bcrypt]
python-jose[cryptography]
pydantic[dotenv]
python-multipart

aioredis # redis
aiomysql
sqlalchemy
sqlalchemy_utils
loguru

# sqlalchemy migrate
alembic

psutil

pylint
black
# yapf